@import url('../../index.css');

.navbar {
  max-width: 91rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1.5rem;
  background-color: var(--color-bg-dark);
}

.nav-links{
  color: var(--color-text-main);
}

.bx-sun, .bx-moon, .bx-menu, .bx-x{
  color: var(--color-text-main);
}

.nav-btn {
  display: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 540px) {
  .nav-btn {
    display: flex;
    z-index: 101;
  }

  .nav-phone {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 100;
    padding: 2rem;
    gap: 2rem;
    background: var(--color-bg-dark);
    margin: auto;
    flex-direction: column;
    transition: 1s ease;
    
  }

  .responsive_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 100;
    padding: 2rem;
    gap: 2rem;
    background: var(--color-bg-dark);
    margin: auto;
    flex-direction: column;
    border-radius: 1.5rem;
  }
}
