/* import */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset default css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

/* start css */

:root{
  --color-primary: #754ef9;
}

#light{
  --color-primary-dark: #150e2e;
  --color-secondary: #150e2e48;
  --color-bg : #ffffff;
  --color-bg-dark: #F9F9F9;
  --color-text-main: #000000;
  --color-text-p : #0000009a;
}

#dark {
  --color-primary-dark: #ffffff;
  --color-bg:  #1f1544;
  --color-bg-dark : #150e2e;
  --color-secondary:  #bbbbbb0c;
  --color-text-main: #ffffff;
  --color-text-p : #cccccc83;
}

.section-home {
  height: 100vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #64646438;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.section {
  height: auto;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #64646438;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 8rem 0;
  background-color: var(--color-bg);
}

.section:nth-child(even), .section-home {
  background: var(--color-bg-dark);
}

.section-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.h1-text-shadow {
  color: var(--color-primary-dark);
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
    z-index: 5;
}

.h2-text-header{
  color: var(--color-secondary)
}

.description-p{
  color: var(--color-text-p);
  font-weight: 400;
  font-size: 1.8rem;
}

.container {
  width: 100%;
  max-width: 91rem;
  margin: 0 auto;
  padding: 0 2rem;
}
